# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = codepitbull
	email = jochen@codepitbull.de
	signingkey = 511AE58F862B3643E4FDD291FAD7EA3C54719615
[core]
	excludesfile = /Users/jochen/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[url "ssh://git@github.com/instana/"]
    insteadOf = https://github.com/instana/
[commit]
	gpgsign = true
